# LF line endings on repository and locally
* text eol=lf
*.java text eol=lf

# Binary files that should not be modified
*.dat binary
*.db binary
*.icns binary
*.ico binary
*.key binary
*.jks binary
*.jpg binary
*.png binary
*.ttf binary
*.wav binary
JavaApplicationStub binary
