<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleName</key>
    <string>${bundleName}</string>
    <key>CFBundleIdentifier</key>
    <string>${mainClass}</string>
    <key>CFBundleVersion</key>
    <string>${build.number}</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>${iconFile}</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>${mainClass}</string>
      <key>ClassPath</key>
      <array><string>$JAVAROOT/${project.artifactId}-${project.version}.jar</string></array>
      <key>JVMVersion</key>
      <string>1.5+</string>
      <key>VMOptions</key>
      <string>-Xms512M -Xmx1024M</string>
    </dict>
  </dict>
</plist>