<?xml version="1.0" encoding="UTF-8"?>
<assembly>

  <id>osx.app</id>
  <formats>
    <format>zip</format>
  </formats>
  <baseDirectory>Technic.app</baseDirectory>
  
  <dependencySets>
    <dependencySet>
      <directoryMode>755</directoryMode>
      <fileMode>644</fileMode>
      <outputDirectory>/Contents/Java</outputDirectory>
      <outputFileNameMapping>TechnicLauncher.jar</outputFileNameMapping>
      <unpack>false</unpack>
      <useTransitiveDependencies>false</useTransitiveDependencies>
      <includes>
        <include>org.spoutcraft:launcher</include>
      </includes>
    </dependencySet>
  </dependencySets>

  <fileSets>
    <fileSet>
      <directory>src/main/app</directory>
      <outputDirectory>/</outputDirectory>
    </fileSet>
  </fileSets>

</assembly>
